@{
    ViewData["Title"] = "Plano padrão";
}

<div class="topo">
    <div class="texto">
        <h4>
            Com o Plano Padrão você tem acesso a todo conteúdo do maior banco de
            questões de enfermagem comentadas do país.
        </h4>
    </div>

    <div class="san">
        <div class="san1">
            <div class="san2">
                <div class="circulo2" id="circulo2"></div>
                <h3><strong>PLANO PADRÃO</strong></h3>
            </div>

            <h2><strong>R$ 9,90 mês</strong></h2>
            <br />

            <a id="assine" href="#" onclick="pagat()">ASSINE AGORA</a><br /><br />
        </div>

        <div class="sobre1">
            <ul>
                <li><p>Acesso a todas as questões de enfermagem</p></li>
                <li><p>Gabaritos comentados por professores</p></li>
                <li><p>Guia de estudos</p></li>
                <li><p>Desempenho Comunidade de estudos</p></li>
                <li><p>Grupos de estudos no Whatsaap</p></li>
            </ul>
        </div>
    </div>
</div>

<section class="gust2">
    <div>
        <img src="~/image/image 3.png" alt="" />
    </div>

    <div>
        <img src="~/image/image 4.png" alt="" /> <br /><br />
        <a id="assine" class="desativa" href="#">ASSINE AGORA</a>
    </div>

    <div>
        <img src="~/image/image 5.png" alt="" />
    </div>
</section>

<div class="maximoTes"></div>
