@{
    ViewData["Title"] = "Planos";
}


<h1 class="tTitulo">Sua aprovação começa aqui! Qual o plano ideal para você?</h1>

<section class="flex">

    <div class="cardP">
        <div class="card1">
            <div class="card3">
                <div class="card2">
                    <div class="plano">
                        <div id="circulo"></div> <h1>PLANO GRÁTIS</h1>
                    </div> <br>
                    <p>É iniciante nos estudos para concursos?</p>
                </div>

                <nav class="nav2">
                    <ul>
                        <li><p>Resolva até 10 questões por dia*</p></li>
                        <li><p>Crie cadernos de questões</p></li>
                        <li><p>Participe da comunidade</p></li>
                        <li><p>Utilize o Guia de estudos</p></li>
                    </ul>
                </nav>
                <h1 id="preco"><strong>R$ 00,00 mês</strong></h1>
            </div>
        </div>
        <p>*visualização de até 5 comentários de professor/dia</p>
    </div>

    <!--Outra div-->

    <div class="cardP">
        <div class="card1">
            <div class="card3">
                <div class="card2">
                    <div class="plano">
                        <div id="circulo"></div> <h1>PLANO PADRÃO</h1>
                    </div>
                    <a href="#">Saiba mais</a> <br><br><br>

                    <a id="assine" href="planoPadrao.html">ASSINE AGORA</a><br><br>
                </div>

                <h4 id="tTitulo4">Todo as funcionalidades do </h4>

                <div class="func">
                    <div id="circulo2"></div> <h3>PLANO GRÁTIS</h3>
                </div>

                <h1 id="tTitulo4">+</h1>

                <nav class="nav2">
                    <ul>
                        <li><p>Comentário dos Professores</p></li>
                        <li><p> Resolução ilimitada de questões</p></li>
                        <li><p> Estatísticas Padrão</p></li>
                        <li><p> Ferramentas de apoio: pastas, favoritas, impressão e etc.</p></li>
                    </ul>
                </nav>
                <h1 id="preco"><strong>R$ 9,90 mês</strong></h1>
            </div>
        </div>
        <p>*visualização de até 5 comentários de professor/dia</p>
    </div>


    <!--Outra div-->


    <div class="cardP">
        <div class="card1">
            <div class="card3">
                <div class="card2" id="corDifere">
                    <div class="plano">
                        <div id="circulo"></div> <h1>PLANO ILIMITADO</h1>
                    </div>
                    <a href="#">Saiba mais</a> <br><br><br>

                    <a id="assine" href="planoIlimitado.html">ASSINE AGORA</a><br><br>
                </div>

                <h4 id="tTitulo4">Todo as funcionalidades do </h4>

                <div class="func">
                    <div id="circulo2"></div> <h3>PLANO GRÁTIS</h3>
                </div>
                <div class="func">
                    <div id="circulo2"></div> <h3>PLANO PADRÃO</h3>
                </div>

                <h1 id="tTitulo4">+</h1>

                <nav class="nav2">
                    <ul>
                        <li><p>Simulados</p></li>
                        <li><p>Resumapas</p></li>

                    </ul>
                </nav>
                <h1 id="preco2"><strong>R$ 12,90 mês</strong></h1>
            </div>
        </div>
        <p></p>
    </div>

</section>

<!--=====================-->


<div class="espa">
</div>