@model Qlegis.Models.UserModel

@{
    ViewData["Title"] = "Cadastro";
}

<!--======== Formulario ===============-->

<div class="telaLgin">
    <div class="localCad">
        <form asp-action="Create"
              method="post"
              id="fContato">
            <h1 class="cadTitulo">Crie sua conta</h1>
            <p id="subTitulo">Preencha seus dados</p>

            <fieldset id="usuario">
                <p id="cNome2">
                    <input type="text"
                           name="FirstName"
                           id="cNome"
                           size="30"
                           maxlength="40"
                           asp-for="FirstName"
                           placeholder="   Digite o seu nome" />

                </p>

                <p id="cNome2">
                    <input type="text"
                           name="LastName"
                           id="cSobreNome"
                           size="30"
                           maxlength="40"
                           asp-for="LastName"
                           placeholder="   Digite o seu sobrenome" />
                </p>

                <p id="cNome2">
                    <input type="email"
                           name="Email"
                           id="cMail"
                           size="30"
                           maxlength="40"
                           asp-for="Email"
                           placeholder="    Digite o seu e-mail" />
                </p>

                <p id="cNome2">
                    <input type="password"
                           name="Password"
                           id="cSenha"
                           size="30"
                           asp-for="Password"
                           placeholder="    Digite sua senha" />
                </p>

                <p id="cNome2">
                    <input type="password"
                           name="ConfirmPassword"
                           id="mSenha"
                           size="30"
                           asp-for="ConfirmPassword"
                           placeholder="    Digite novamente a sua senha" />
                </p>

                <p id="cNome2">
                    <input type="number"
                           name="NumberPhoneCell"
                           id="cTel"
                           size="30"
                           asp-for="NumberPhoneCell"
                           placeholder="        Digite o seu celular" />
                </p>
            </fieldset>

            <fieldset id="endereco">
                <div class="estados2">
                    <div id="arquivoImag">
                        <p id="arquivoGpd"><strong>Imagem de perfil</strong></p>
                        <p id="cNome2">
                            <label for="arquivo">Escolher arquivo</label>
                            <input type="text" name="ImageAvatarPerfil" id="arquivo" asp-for="ImageAvatarPerfil" />
                        </p>
                    </div>

                    <div class="estados">
                        <p id="arquivoGpd"><strong>Estado</strong></p>
                        <p>
                            <label for="cEst"></label>
                            <select name="State" id="cEst" asp-for="State">
                                <optgroup label="Região Norte">
                                    <option value="AM">Amazonas</option>
                                    <option value="AC">Acre</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="PA">Pará</option>
                                    <option value="AP">Amapá</option>
                                    <option value="RR">Roraima</option>
                                </optgroup>

                                <optgroup label="Região Nordeste">
                                    <option value="AL">Alagoas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="PB">Paraiba</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="SE">Sergipe</option>
                                </optgroup>

                                <optgroup label="Região Centro-Oeste">
                                    <option value="DF">Distrito Federal</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MT">Mato Grosso</option>
                                </optgroup>

                                <optgroup label="Região Sudeste">
                                    <option value="MG">Minas Gerais</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="RJ" selected>Rio de Janeiro</option>
                                </optgroup>

                                <optgroup label="Regiâo Sul">
                                    <option value="PR">Paraná</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                </optgroup>
                            </select>
                        </p>
                    </div>
                </div>
            </fieldset>
            <div class="cad">
                <p><button type="submit">CADASTRAR</button>
            </div>

            <p id="facaLogin">
                Já tem cadastro? <a href="/login">Faça o login</a> com seu e-mail e
                senha.
            </p>
        </form>
    </div>

    <div class="lagoDoForme">
        <h1>
            São milhares de questões atuais de <br />
            concursos + Simulados +<br />
            Resumapas + Questões inéditas!
        </h1>

        <img src="~/image/image 7.png" alt="imagem" />
    </div>
</div>

<!--======== Formulario ===============-->
