<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estiloplano.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Qlegis</title>
</head>
<body>
    <header class="header" id="header">
        <a href="/">
            <img id="logo" src="~/image/icones/logoQqustao.png" alt="logo" />
        </a>

        <nav id="nav" class="nav">
            <button id="btn-mobile">
                <img src="~/image/icones/menu.png" width="20px" />
            </button>

            <ul id="menu" class="menu">
                <li><a onclick="avisoDeLogin()">QUESTÕES</a></li>
                <li><a onclick="avisoDeLogin()" href="#">SIMULADOS</a></li>
                <li><a onclick="avisoDeLogin()" href="#">RESUMAPAS</a></li>
                <li><a onclick="avisoDeLogin()" href="#">GUIAS</a></li>
                <li><a href="/plano">PLANOS</a></li>
                <li><a onclick="avisoDeLogin()" href="#">GRUPOS</a></li>

                <li><a href="/login" id="entra">ENTRAR</a></li>
                <li>
                    <a href="/plano" id="gratis">EXPERIMENTE GRÁTIS</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--====================-->    
    <main>
        @RenderBody() 
    </main>
    <!--====== Footer ======-->

    <footer class="footer">
        <div class="primeiro">
            <p>
                <img src="~/image/icones/image_2022-02-27_17-21-57.png"
                     width="150px" />
            </p>

            <p onclick="irSobre()">Sobre o Qquestao.com</p>

            <p onclick="irTermos()">Termos de uso</p>

            <p onclick="irDuvidas()">Dúvidas frequentes</p>

            <p onclick="irPlnaos()">Planos</p>

            <p onclick="irAjuda()">Ajuda</p>

            <p id="affst">Ajuda</p>

            <div class="grupo1">
                <img id="pago" src="~/image/icones/Rectangle 24.png" alt="" />

                <p id="affst2">Ajuda</p>

                <p id="anima1">
                    <strong>Fale conosco</strong><br />
                    <img onclick="faleConosco()" src="~/image/icones/email.jpg" />
                    <img onclick="avisoLink()" src="~/image/icones/whastapp.jpg" />
                    <img onclick="avisoLink()" src="~/image/icones/facebook.jpg" />
                    <img onclick="avisoLink()" src="~/image/icones/insta.jpg" />
                </p>
            </div>
        </div>
    </footer>

    <!--====== Footer ======-->

    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
